body    {
    margin: 0;
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 15px;
    color: #333333;
    line-height: 1.6;
}

*,
*::before,
*::after   {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6  {
    margin: 0;
}
hr  {
    display: block;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #e5e5e5;
    margin: 50px 0;
}
/* Container */
.container  {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro  {
    display: flex;/*h1 h2 по центру*/
    flex-direction: column;/*h1 h2 по центру*/
    justify-content: center;/*h1 h2 по центру*/
    width: 100%;
    height: 1000px;/*100hv Высота 100% экрана посетителя*/
    background: url("../image/intro.jpg") center center/cover no-repeat;
}

.intro_inner    {
    padding-top: 150px;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;/*выравнивание по центру*/
    text-align: center;/*кнопка и заголовки по центру*/
}
.intro_title    {
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.intro_title:after {/*полоска под h1*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;/*выравнивание по центру*/

}

.intro_subtitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script';
    font-size: 72px;
    color: #ffffff;
}

/* Header */
.header {
    width: 100%;
    position: absolute;/*помещает все внутрь блока*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}
.header_inner   {/*лого и навигация по бокам справа и слева*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo    {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

/* Nav */
.nav    {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;

}
.nav_link   {
    position: relative;/*для подчеркивания*/
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;

}
.nav_link:after    {/*подчеркивание при наведении*/
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav_link:hover {
    color: #fce38a;
}
.nav_link:hover::after {
    display: block;
    opacity: 1;
}
/* Button */
.btn    {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 15px 33px;
    transition: background .2s linear;
    transition: transform .2s linear;
    
    }
.btn:hover  {
    background-color: white;
    color:#e79484;
    transform: scale(1.1); 
}
/* Slider */
.slider {
    margin-top: 160px;
}
.slider_inner   {
    display: flex;/* в один ряд */
    justify-content: space-between;

}
.slider_item   {
    position: relative;/*частично закрасить белую полоску*/
    width: 23%;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    padding: 20px 0;
    border-top: 3px solid #fff;
    opacity: .7;
}
.slider_num .active {
    opacity: 1;
}
.slider_num.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}
.slider_num    {
    font-size: 24px;
    font-weight: 700;
}

/* Section */
.section    {
    padding: 80px 0;
}
.section--devices   {
    height: 830px;
    margin-top: 120px;
    margin-bottom: 60px;
    padding-bottom: 0;
    background: url("../image/bg_device.jpg") center center/cover no-repeat;
}
.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}
.section_subtitle   {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
}
.section_title  {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}
.section_title:after    {/*подчеркивание*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}
.section_text   {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/*About*/
.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 380px;
    position: relative;/*текст на картинке*/

    background-color: #95e1d3;
}

.about_item:hover .about_image {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_image img {
    opacity: .1;
}

.about_item:hover .about_text {/*текст на картинке при наведении*/
    opacity: 1;
}

.about_image {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.about_image img {
    display: block;
    transition: opacity .1s linear;
}
.about_text {
    width: 100%;/*текст на картинке*/

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
/*текст на картинке*/
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

/*Statistics*/
.statistics {
    background-color: #95e1d3;
}
.stat   {
    display: flex;
    color: white;
    margin-bottom: 70px;
}
.stat_item  {
    flex: 1 1 0;/*колонки одинаковой ширины*/
    border-left: 1px solid #b5eae0;
    text-align: center;
    padding: 70px 25px;
}
.stat_item:last-child  {
    border-right: 1px solid #b5eae0;
}
.stat_count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat_text  {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Services */
.services   {
    display: flex;
}
.services_item  {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}
.services_icon  {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}
.services_title  {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}
.services_text  {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

/*Devices*/
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices_item {
    display: block;
}

.devices_item--iphone {
    position: absolute;
    bottom: 35px;
    right: 0;
    z-index: 1;
}

/*Service*/
.wedo   {
    display: flex;
}
.wedo_item  {
    width: 50%;
}
/*Accordion*/
.accordion_item  {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.accordion_item.active
.accordion_content  {
    display: block;
}
.accordion_item.active
.accordion_header::after    {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 3px;
}
.accordion_item.active
.accordion_header   {
    border-bottom: 1px solid #e5e5e5;
}

.accordion_header  {
    position: relative;/*выровнять иконку относительно шапки*/
    padding: 15px 20px 15px 65px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.accordion_header::after    {/*стрелка выпадающее меню*/
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}
.accordion_icon {/*выровнять иконку относительно шапки*/
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 1;

    transform: translateY(-50%);
}
.accordion_title    {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}
.accordion_content  {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    display: none;/*скрытый контент по умолчанию*/
    padding: 10px 20px;
}

/* Section grey */
.section--grey  {
    width: 100%;
    height: 290px;
    background-color: #f8f8f8;
}
.reviews    {
    padding: 0 110px;
    position: relative;/* Стрелка слайдера */
}
.reviews_item   {
    padding-left: 205px;
    position: relative;/* Иконка */
}
.reviews_photo   {/* Иконка */
    position: absolute;
    width: 145px;
    height: 145px;
    left: 0;
    top: 0;
    z-index: 1;
}
.reviews_text   {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-bottom: 10px;
}
.reviews_author {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
}
.reviews_author::before {/* Линия у подписи */
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews_btn    {/* Стрелки слайдера */
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

}
.reviews_btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;

}
.reviews_btn--prev  {
    left: 0;
    transform: rotate(-45deg);
}
.reviews_btn--next  {
    right: 0;
    transform: rotate(135deg);
}